body {
  padding: 50px;
  font: 20px/150% "Helvetica Neue", "Lucida Grande", Verdana, sans-serif;
  color: #666;
  background: #fcfcfc;
}

input,
textarea,
button {
  font: inherit;
}

// Button
//
// Your standard button suitable for clicking.
//
// Markup: <button>Dog</button>
//
// Styleguide: 1.0